.content{
    margin-top: 20px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th{
    background-color: #81cbf0;
    color: #ffffff;
}

th {
    text-align: center;
}

td {
    text-align: center;
}